@media only screen and (max-width: 420px) {
    .image-side-right {
    border-bottom-right-radius: 86%;
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: 0 5%;
    }
    .spaning{
        font-size: small;
    }
}